<div class="mainWrapper table-responsive">
  <table class="table">
    <tr>
      <th>
        Project Name
      </th>
      <th>
        Project Stars
      </th>
      <th>
        Language
      </th>
      <th>
        Project link
      </th>
    </tr>
    <tr ng-repeat="data in messages">
      <td>
        {{data.projectName}}
      </td>
      <td>
        {{data.projectStars}}
      </td>
      <td>
        {{data.language}}
      </td>
      <td>
        <a class="btn btn-info" href="#/repo/{{data.projectID}}">Details</a>
      </td>
    </tr>
  </table>
</div>
