<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <h2 class="h2 text-center">
      We are Sorry!! :(
    </h2>
    <p class="text-center">
      <u class="">
        We could not find anything for you request. There could be several problems to that
      </u>
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        You refreshed the page and thus caused deletion of all data... We are working on caching
      </li>
      <li class="list-group-item">
        There is no data regarding your request, please press <a href="/">Here</a> or Home word up there in right corner to return to main page with filters.
      </li>
    </ul>
  </div>
</div>
