<!-- CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css">
<style>
  .noneDisplay{
    display: none;
  }
  .visible{
    display: block;
  }
</style>
<!-- JS -->



<!-- Code -->
<script  type="text/javascript">

  /*$('#sandbox-container .input-daterange,#sandbox-container1 .input-daterange,#sandbox-container2 .input-daterange').datepicker({
        format: "yyyy/mm/dd",
        endDate: "+Today",
        autoclose: true,
        todayHighlight: true
    });*/

    $('body').on('focus',"#sandbox-container .input-daterange,#sandbox-container1 .input-daterange,#sandbox-container2 .input-daterange", function(){
      $(this).datepicker({
            format: "yyyy/mm/dd",
            endDate: "+Today",
            autoclose: true,
            todayHighlight: true
        });
    });


  /*$("#selectDatesFields").on("change", function(){
    var q = this.value;
    $(".visible").children($("input").val(""));
    $(".visible").removeClass("visible");
    switch (q) {
      case "beforeDates":
        $("#sandbox-container2").addClass("visible");
        //$("#sandbox-container").removeClass("noneDisplay");
        break;
      case "afterDates":
        $("#sandbox-container1").addClass("visible");
        break;
      case "betweenDates":
        $("#sandbox-container").addClass("visible");
        break;
      default:

    }
  });*/
</script>
<div class="searchAll">
  <form ng-submit = "processForm()">
      <div class="filterField sliderStars">

        <rzslider id="starFilter" name="starsFilter"
          rz-slider-model="filterData.slider.minValue"
          rz-slider-high="filterData.slider.maxValue"
          rz-slider-options="filterData.slider.options">
        </rzslider>
      </div>

      <select id="selectDatesFields" ng-model="filterData.select" ng-options="x.value for x in itemsDateSelect track by x.name" ng-dropdown>
      </select>

      <div id="datapickerWrapper" class="divWrapper">

        <div id="sandbox-container" class="datepickerClass rangeDate" ng-if="filterData.select.name == 'rangeDates'">
          <div class="input-daterange input-group" id="datepicker">
            <label class="input-group-addon" for="from">From Date</label>
              <input ng-model="filterData.select.date.fromDate" type="text" class="input-sm form-control" id="from" name="fromDate" />
            <label class="input-group-addon" for="to">To Date</label>
              <input ng-model="filterData.select.date.toDate" type="text" class="input-sm form-control" id="to" name="toDate" />
          </div>
        </div>

        <div id="sandbox-container1" class="datepickerClass afterDate" ng-if="filterData.select.name == 'afterDates'">
          <div class="input-daterange input-group" id="datepicker">
            <label class="input-group-addon" for="from">After Date</label>
              <input ng-model="filterData.select.date.singleFrom" type="text" class="form-control" id="from" name="fromDate" />
          </div>
        </div>

        <div id="sandbox-container2" class="datepickerClass beforeDate" ng-if="filterData.select.name == 'beforeDates'">
          <div class="input-daterange input-group" id="datepicker">
            <label class="input-group-addon" for="from">Before Date</label>
              <input ng-model="filterData.select.date.singleBefore" type="text" class="form-control" id="from" name="beforeDate" />
          </div>
        </div>
      </div>

      <div id="selectLangDiv">
        <select id="selectLang">
          <option value="all"> All Languages </option>
          <option value="php"> PHP Language </option>
        </select>
      </div>
      <!-- SUBMIT BUTTON -->
      <button type="submit" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-flash"></span> Submit!
      </button>
  </form>
  <pre>
    {{ filterData.select.date }}
    {{ filterData.select.name }}
    {{ filterData.slider.minValue }}
    {{ filterData.slider.maxValue }}
</pre>
</div>
