<!-- CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/presentation/css/search.css">
<style>
  .noneDisplay{
    display: none;
  }
  .visible{
    display: block;
  }
</style>
<!-- JS -->



<!-- Code -->
<script  type="text/javascript">
    $('body').on('focus',"#sandbox-container .input-daterange,#sandbox-container1 .input-daterange,#sandbox-container2 .input-daterange", function(){
      $(this).datepicker({
            format: "yyyy/mm/dd",
            endDate: "+Today",
            autoclose: true,
            todayHighlight: true
        });
    });
</script>

<div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12">
      <p class="text-center">
        Welcome to Github repository search. Below you can see filter search to walk trough various information in our database, or if you know specific ID of a project, you can click on a link below and iput in there.
      </p>
  </div>
</div>


<div class="searchAll">
  <form class="container" ng-submit = "processForm()" name="searchform" novalidate>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-2 personalSelector filterField sliderStars">
        <label class="input-group-addon" for="starFilter">Filter by stars</label>
        <rzslider id="starFilter" name="starsFilter"
          rz-slider-model="filterData.slider.minValue"
          rz-slider-high="filterData.slider.maxValue"
          rz-slider-options="filterData.slider.options">
        </rzslider>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 personalSelector input-group select">
        <label class="input-group-addon" for="selectDatesFields">
          Date to search
        </label>
        <select id="selectDatesFields" class="form-control" ng-model="filterData.select" ng-options="x.value for x in itemsDateSelect track by x.name" ng-dropdown>
          <option value="" selected="selected">All time</option>
        </select>
      </div>
    </div>

      <div id="datapickerWrapper" class="divWrapper">

        <div id="sandbox-container" class="datepickerClass rangeDate" ng-if="filterData.select.name == 'rangeDates'">
          <div class="input-daterange input-group" id="datepicker">
            <label class="input-group-addon" for="from">From Date</label>
              <input ng-model="filterData.select.date.fromDate" type="text" class="input-sm form-control" id="from" name="fromDate" />
            <label class="input-group-addon" for="to">To Date</label>
              <input ng-model="filterData.select.date.toDate" type="text" class="input-sm form-control" id="to" name="toDate" />
          </div>
        </div>

        <div id="sandbox-container1" class="datepickerClass afterDate" ng-if="filterData.select.name == 'afterDates'">
          <div class="input-daterange input-group" id="datepicker">
            <label class="input-group-addon" for="from">After Date</label>
              <input ng-model="filterData.select.date.singleFrom" type="text" class="form-control" id="from" name="fromDate" />
          </div>
        </div>

        <div id="sandbox-container2" class="datepickerClass beforeDate" ng-if="filterData.select.name == 'beforeDates'">
          <div class="input-daterange input-group" id="datepicker">
            <label class="input-group-addon" for="from">Before Date</label>
              <input ng-model="filterData.select.date.singleBefore" type="text" class="form-control" id="from" name="beforeDate" />
          </div>
        </div>
      </div>

    <div class="row">
      <div id="selectLangDiv" class="col-xs-12 col-md-12 col-sm-12 personalSelector input-group select" ng-class="{ 'has-error': searchform.langSelect.$touched || searchform.langSelect.$invalid }">
        <label class="input-group-addon" for="selectDatesFields">
          Language to search
        </label>
        <select required id="selectLang" name="langSelect" class="form-control" ng-model="filterData.selectLang" ng-options="x.value for x in itemsLangSelect track by x.name" ng-dropdown>
          <option value="" selected="selected">Choose</option>
        </select>
      </div>
      <div class="help-block" ng-messages="searchform.selectLang.$error" ng-if="searchForm.selectLang.$invalid">
        <p ng-message="minlength">Selecting an option is required</p>
      </div>
    </div>
      <!-- SUBMIT BUTTON -->
      <button type="submit" ng-disabled="searchform.$invalid" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-flash"></span> Submit!
      </button>
  </form>
</div>
<div class="row personalSelector">
  <div class="col-md-6 col-sm-6 col-xs-6 col-xs-offset-5 col-sm-offset-5 col-md-offset-5">
    <h4 class="h4">
      Or type in known ID
    </h4>
  </div>
</div>
<div class="container">
  <div class="row personalSelector">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <!-- Button trigger modal -->
      <form ng-submit = "idSpecificSubmit()" novalidate name="idsearch" role="form">
        <div class="input-group" ng-class="{ 'has-error': idsearch.idSpecific.$touched && idsearch.idSpecific.$invalid }">
          <label for="projectId" class="input-group-addon">Known ID</label>
          <input required type="number"
                 ng-model="idSpecific" class="form-control" name="idsearchfield" id="projectId" placeholder="Enter id"
                 min="1"/>
        </div>
        <div class="help-block" ng-messages="idsearch.idsearchfield.$error" ng-if="idsearch.idsearchfield.$invalid">
          <p ng-message="minlength">Selecting an option is required</p>
        </div>
        <button type="submit" ng-disabled="idsearch.$invalid" class="btn-block btn btn-default personalSelector">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="row personalSelector">
  <div class="col-md-6 col-sm-6 col-xs-6 col-xs-offset-4 col-sm-offset-4 col-md-offset-4">
    <h4 class="h4">
      Or you can update all information and then search
    </h4>
  </div>
</div>
<div class="container">
  <div class="row personalSelector">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <!-- Button trigger modal -->
      <form ng-submit = "updateDataInDB()" role="form">
        <button type="submit"  class="btn-block btn btn-warning personalSelector">Update</button>
      </form>
    </div>
  </div>
  <pre>
    {{updateResp}}
  </pre>
</div>
