<div class="mainWrapper">
  <div ng-repeat="data in messages" class="overallInfo">
    <div class="pName">
      <h2>
        {{data.projectName}}
      </h2>
    </div>
    <div class="addInfo">
      <div class="mainInfo">
        <p>
          The project {{data.projectName}} has been creted in {{data.projectCreated}}. From that time it has been updated regurarly and the latest update was made on {{data.projectUpdated}}. It is quite popular between developers and as of today it has {{data.projectStars}} stars representing its popularity on gitHub.
        </p>
        <p>
          Below you will find detailed view of this project with specific information and link to its source.
        </p>
        <div class="fullInfo">
          <div class="row">
            <div class="lead col-xs-11 col-sm-11 col-md-11">
              <p>
                Project name is: {{data.projectName}}
              </p>
              <p>
                Project Description: {{data.projectDesc}}
              </p>
              <p>
                Project star count is: {{data.projectStars}}
              </p>
              <p>
                Project created: {{data.projectCreated}}
              </p>
              <p>
                Last Updated/Pushed: {{data.projectUpdated}}
              </p>
              <p>
                Main language is: {{data.language}}
              </p>
              <p>
                <a class="btn btn-info" href="{{data.projectName}}">Project URL</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
